.App {
  text-align: center;
}

.App-box {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-textarea {
  margin-bottom: 10px;
  width: 300px;
  height: 200px;
  border: none;
  outline: none;
  border-radius: 5px;
  resize: none;
}

.App-button {
  width: 70px;
  height: 30px;
  border: none;
  outline: none;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  border-radius: 5px;
  font-weight: 700;
}

.App-answer {
  display: block;
  width: 200px;
  height: auto;
  text-align: start;
}
